<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Tilt+Neon&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <title>SSR</title>
  </head>
  <body>
    <div class="container-text">
      <h1 class="header-text">Here's how SSR works</h1>
      <ol class="text">
        <li>Client Requests a Page:</li>
        <p class="text-smaller">
          When a user requests a page from a website, the server receives the
          request.
        </p>
        <li>Server Generates HTML</li>
        <p class="text-smaller">
          Instead of sending a blank HTML file and relying on client-side
          JavaScript to populate it with content, the server generates the HTML
          on the server side. This includes rendering dynamic data, such as
          database queries or API calls.
        </p>
        <li>HTML is Sent to the Client</li>
        <p class="text-smaller">
          The server sends the fully rendered HTML page to the client's web
          browser as the response to the request.
        </p>
        <li>Client Receives and Displays HTML</li>
        <p class="text-smaller">
          The client's browser receives the HTML and can immediately render and
          display the page. This is beneficial for performance, as users see
          content sooner, especially on the first page load.
        </p>
        <li>Client-Side JavaScript Takes Over</li>
        <p class="text-smaller">
          Once the initial HTML is rendered, client-side JavaScript can take
          over to handle user interactions and make additional requests for
          dynamic content. This is often referred to as "hydration" because the
          static HTML generated on the server is "hydrated" with interactive
          capabilities on the client side.
        </p>
      </ol>
    </div>
    <div class="links-container">
      <a href="/" class="link">What is SSR</a>
      <a href="/for-against" class="link">Advantages & Trade-offs</a>
    </div>
    <footer class="footer">
      This is just a small site made for educational purposes. Source: ChatGPT.
    </footer>
  </body>
</html>
