<%- include('partials/header') %>
<body class="bg-white flex flex-col items-center justify-start h-full text-gray-900">
    <h1 class="text-8xl font-tilt mb-4 mt-8 text-indigo-800"><%=message%></h1>
    <div class="container m-10">
      <h2 class="text-5xl font-tilt mb-8 mt-8">SSR stands for Server-Side Rendering.</h2>
      <p class="text-xl font-mohave text-gray-700">
        It is a technique used in web development where a web server generates
        HTML pages with content dynamically inserted before sending them to the
        client's web browser. In SSR, the server is responsible for rendering
        the initial HTML page, including the dynamic data, and then sending it
        to the client.
      </p>
    </div>
    <div class="flex">
      <a href="/facts" class="font-mohave text-white bg-indigo-700 text-lg py-2 px-4 rounded-full no-underline m-6 hover:bg-indigo-800">How SSR works</a>
      <a href="/for-against" class="font-mohave text-white bg-indigo-700 text-lg py-2 px-4 rounded-full no-underline m-6 hover:bg-indigo-800">Advantages & Trade-offs</a>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
